.container444 {
    display: grid;
    grid-template-areas:
        "content2";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.content22 {
    grid-area: content2; /* Cambiado de "content" a "content2" */
    margin-left: 15%;

    text-align: left;
}
.pdf_contenedor22{
    
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 20px;
    width: 84%;
    height: 100vh;
    margin-top: 3%;

}
.select23 {
  margin-left:54%;
    background-color: white; /* Fondo blanco */
    border: 1px solid #383737; /* Borde color #383737 */
    color: #383737; /* Texto color #383737 */
    border-radius: 10px; /* Borde redondeado */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    width: 30%; /* Ancho del combo box, ajusta según necesites */
    height: 45px;
    margin-top: 0%
}
.select23 option {
    background-color: #d9d9d9; /* Fondo blanco */
    color: #383737; /* Texto color #383737 */
    font-size: 16px; /* Tamaño de fuente */
}

.boton-req {
    
    margin-top: 4%;
    background-color:#691B31 ;
    color: white;
    border-color: #691B31;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 240px;
    margin-right: 40%;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios */
  }
  .boton-req:hover{
    background-color: #A02142; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
  }

  .text_formulario9{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif !important;
    text-align: left; 
    margin-top: 2%;
  }

  .checkboxes {
    display: flex;
    align-items: center;

  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif!important;
    font-size: 1em;
    margin-right: 1%;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    width: 20px; /* Ancho de la checkbox */
    height: 20px; /* Alto de la checkbox */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .checkbox-label .checkbox-text {
    margin-left: 5px; /* Espacio entre el checkbox y el texto */
  }

@media screen and (min-width: 768px) and (max-width: 1424px) {
    .pdf_contenedor22{
        height: 40vh;
    }

    .modal-content {
      width: 60%; /* Ancho del modal */
      height: auto; /* Alto del modal */
    }
    .boton_modal {
      font-size: 1.5em;
      height: 60px;
      width: 30%;
      margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 10%;
    }
    
    .titulo_modal{
      font-size: 3em;
    }
    
    .texto_modal{
      font-size: 2em;
    }
}