.input-container {
    display: flex;
    align-items: center;
    margin-left: 10rem;
  }
  .eye-icon {
    margin-left: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
@font-face {
    font-family: Futura;
    src: url('../Fonts/TIPOGRAFIA\ FUTURA/Futura.ttc');
  }
        .container{
            display: grid;
            grid-template-areas:
                "head head head"
                "content content content"
                "boton1 boton2 boton3";
                
            grid-template-rows: 25vh 45vh 30vh;
        }
        .header{
            grid-area: head;
            background-color: white;
            text-align: center; /* centrar imagen*/
        }
        .content{
            grid-area: content;
            background-color: white;
            text-align: center;
        }
        .footer{
            grid-area: boton1;
            background-color: white;
            text-align: center;
        }
        .footer1{
            grid-area: boton2;
            background-color: white;
            text-align: center;
        }
        .footer2{
            grid-area: boton3;
            background-color: white;
            text-align: center;
        }

        .Logo{
            width: 50%; /* Ancho deseado */
            height: 100%; /* Altura automática para mantener la relación de aspecto */
            margin-top:0%;
        }

        .titulo{
            font-size: 1.5em;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            margin-top: 1%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .texto{
            font-size: 1em;
            font-family: 'Montserrat', sans-serif;
            margin-top: 0.8%;
            margin-left: 23%;
            margin-right: 23%;
        }

        .boton {
            margin-top: 2%;
            margin-left: 5%;
            background-color: #A02142;
            color: white;
            border-color: #A02142;
            border-radius: 20px;
            font-size: 1.7em;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            height: 30%;
            width: 50%;
            transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios */
          }
          
          .boton:hover {
            background-color: #A02142; /* Cambia el color de fondo al pasar el mouse */
            color: white; /* Cambia el color del texto al pasar el mouse */
          }
          

       