@font-face {
  font-family: Futura;
  src: url('../Fonts/TIPOGRAFIA\ FUTURA/Futura.ttc');
}
.titulo_3 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Futura';
    text-align: center;
  }
  .formulario{
    max-width: 65% !important;
    margin-top: 2%;
    margin-left: 17.5%;
    margin-left: 17.5%;
  
    
  }
  .titulo_formulario{
    font-size: 2.5em;
    font-family: 'Futura' !important;
    text-align: left; 
    margin-bottom: 1%;
    margin-top: 4%;
  }
  .text_formulario{
    font-size: 1.5em;
    font-family: 'Futura' !important;
    text-align: left; 
    margin-bottom: 1%;
    margin-top: 2%;
  }
  .text_pdf{
    font-size: 1.5em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .text_inputs{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 1%;
  }
  .text_advertencia{
    font-size: 1em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-top: 1%;
  }
  .text_advertencia2{
    font-size: 1em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-top: 0%;
  }
  .botonn {
    margin-bottom: 2%;
    background-color: white;
    color: #383737;
    border-color: #383737;
    border-radius: 10px;
    font-size: 2em;
    height: 20%;
    width: 30%;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios */
  }
  
  .botonn:hover {
    background-color: #d9d9d9; /* Cambia el color de fondo al pasar el mouse */
    color: black; /* Cambia el color del texto al pasar el mouse */
  }
  .custom-file-label {
    background-color: white;
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    padding: 8px 12px; /* Ajusta según tus necesidades */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-family: Futura;
    
  
  }
  
  .custom-file-input {
  
    display: none; /* Oculta el input de archivo real */

  
  }
  .no-file-message {
    color: black;
    font-style: italic;
    margin-left: 10px;
  }

  .checkboxes {
    display: flex;
    align-items: center;

  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-family: 'Futura'!important;
    font-size: 1em;
    margin-right: 1%;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    width: 20px; /* Ancho de la checkbox */
    height: 20px; /* Alto de la checkbox */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .checkbox-label .checkbox-text {
    margin-left: 5px; /* Espacio entre el checkbox y el texto */
  }

  select {
    background-color: white; /* Fondo blanco */
    border: 1px solid #383737; /* Borde color #383737 */
    color: #383737; /* Texto color #383737 */
    border-radius: 10px; /* Borde redondeado */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    width: 22.8%; /* Ancho del combo box, ajusta según necesites */
    height: 45px;
    font-family: Futura;
   
}
select option {
    background-color: #d9d9d9; /* Fondo blanco */
    color: #383737; /* Texto color #383737 */
    font-size: 16px; /* Tamaño de fuente */
    font-family: Futura;
}
input {
    background-color: white; /* Fondo blanco */
    border: 1px solid #383737; /* Borde color #383737 */
    color: #383737; /* Texto color #383737 */
    border-radius: 10px; /* Borde redondeado */
    padding: 1px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-family: Futura;
    width: 46%; /* Ancho del combo box, ajusta según necesites */
    height: 40px;
    margin-top: 1%;
    padding-left: 20px; /* Agrega un margen izquierdo de 10px */

}
.boton_envio{
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: #6e6e6e;
    color: white;
    border-color: #6e6e6e;
    border-radius: 10px;
    font-size: 2em;
    font-family: Futura;
    font-weight: medium;
    height: 20%;
    width: 20%;
    transition: background-color 0.3s, color 0.3s;
}
.boton_envio:hover {
  background-color: #d9d9d9; /* Cambia el color de fondo al pasar el mouse */
  color: black; /* Cambia el color del texto al pasar el mouse */
}

.boton_modal {
  margin-bottom: 5%;
  margin-top: 5%;
  background-color:#6e6e6e ;
  color: white;
  border-color: #6e6e6e;
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: medium;
  font-family: Futura;
  height: 40px;
  width: 180px;
  margin-right: 60px;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios */
}
.boton_modal:hover{
  background-color: #d9d9d9; /* Cambia el color de fondo al pasar el mouse */
  color: black; /* Cambia el color del texto al pasar el mouse */
}
/* Estilo para el fondo atenuado */




.titulo_modal{
  font-size: 3em;
  font-family: 'Futura'!important;
  font-weight: bold;
  text-align: center; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.texto_modal{
  font-size: 1.5em;
  font-family: 'Futura'!important;
  text-align: center; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Color de fondo oscuro con opacidad */
}

/* Estilo para el modal */
.modal-content {
  background-color: white; /* Color de fondo del modal */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  width: 50%; /* Ancho del modal */
  height: 45%; /* Alto del modal */
  position: fixed; /* Posición fija */
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Centrado exacto */
  text-align: center;
}
.rojo {
  color: red;
}

.custom-inputs {
  display: flex;
}

.custom-inputs .input-container {
  position: relative;
  width: 100%;
}

.custom-inputs .custom-input {
  width: 92%;
}

.custom-inputs .custom-input[type='password'] {
  position: relative;
}

.custom-inputs .custom-input[type='password'] + label {
  display: none;
}

.custom-inputs .eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  left: 600px; /* Este valor es un poco arbitrario, quizás quieras ajustarlo según tu diseño */
}

@media screen and (min-width: 768px) and (max-width: 1424px) {
  .titulo_formulario{
    font-size: 2em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 2%;
  }
  .text_formulario{
    font-size: 1em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 2%;
    margin-top: 4%;
  }
  .text_inputs{
    font-size: 0.5em;
    font-weight: bold;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 2%;
  }
  .text_pdf{
    font-size: 1em;
    font-family: 'Futura'!important;
    text-align: left; 
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .botonn{
    font-size: 2em;
    width: 40%;
    height: 40%;
    
  }
  .text_advertencia{
    font-size: 0.7em;
   
  }
  .text_advertencia2{
    font-size: 0.7em;
   
  }
  .boton_envio{
   
    font-size: 1.5em;
 
}

.modal-content {
  width: 50%; /* Ancho del modal */
  height: 30%; /* Alto del modal */
}
input { 
  width: 45%; /* Ancho del combo box, ajusta según necesites */
  padding-left: 10px; 
}

.custom-inputs .eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  left: 300px; /* Este valor es un poco arbitrario, quizás quieras ajustarlo según tu diseño */
}

}


