/* WizardSteps.css */

.wizard-steps {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    padding: 0.8em;
    margin: 4%;
    height: 4rem;
    width: auto;
    
  }
  
  .wizard-steps li {
    flex: 1;
    text-align: center;
    position: relative;
  }
  
  
  
 
  
  .wizard-steps li h5 {
    margin: 0;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
  }
  
  .wizard-steps li span {
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  